###############################################################################
# Build Artifacts
###############################################################################
artifacts/
*.binlog

###############################################################################
# Default Artifacts
###############################################################################
bin/
obj/

###############################################################################
# Test Artifacts
###############################################################################
TestResult.xml

###############################################################################
# Visual Studio and Visual Studio Code
###############################################################################
.vs/
.vscode/

###############################################################################
# User Specific Settings
###############################################################################
*.user

###############################################################################
# Asset Files
###############################################################################
*.bmp
*.gif
*.jpg
*.png
*.wav
