###############################################################################
# Build Artifacts
###############################################################################
artifacts/

###############################################################################
# Default Artifacts
###############################################################################
bin/
obj/

###############################################################################
# Test Artifacts
###############################################################################
TestResult.xml

###############################################################################
# Visual Studio
###############################################################################
.vs/
