# Copyright © Tanner Gooding and Contributors. Licensed under the MIT License (MIT). See License.md in the repository root for more information.

###############################################################################
# The owners for all files in the repository.
###############################################################################
*           @tannergooding
