<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSourceMapping>
    <packageSource key="nuget">
      <package pattern="*" />
    </packageSource>
    <packageSource key="terrafx">
      <package pattern="TerraFX.*" />
    </packageSource>
    <packageSource key="dotnet-tools">
      <package pattern="Microsoft.Net.Compilers.Toolset" />
    </packageSource>
  </packageSourceMapping>
  <packageSources>
    <clear />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
    <add key="terrafx" value="https://pkgs.terrafx.dev/index.json" />
    <add key="dotnet-tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-tools/nuget/v3/index.json" />
  </packageSources>
</configuration>
