###############################################################################
# EditorConfig is awesome: http://EditorConfig.org
###############################################################################

###############################################################################
# Set dotnet diagnostic rules to:
#    ignore CA18161: Avoid constant arrays as arguments
###############################################################################
[*.cs]
dotnet_diagnostic.CA1861.severity = none
