###############################################################################
# EditorConfig is awesome: http://EditorConfig.org
###############################################################################

###############################################################################
# Set dotnet diagnostic rules to:
#    ignore CS1591: Missing XML comment for publicly visible type or member
###############################################################################
[*.cs]
dotnet_diagnostic.CS1591.severity = none
